name: "Discord2MQTT"
description: "Collects user data from Discord Servers and turns them into entities in Home Assistant via MQTT."
version: "1.1.0"
slug: "discord2mqtt"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: services

services:
  - mqtt:need

options:
  discord_bot_token:
  mqtt_base_topic: "discord2mqtt"
  mqtt_discovery_prefix: "homeassistant/device"

schema:
  discord_bot_token: password
  mqtt_host: str?
  mqtt_port: port?
  mqtt_user: str?
  mqtt_password: "password?"
  mqtt_base_topic: str
  mqtt_discovery_prefix: str